In [1]:
import pickle
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
filaname="ModeloFinalCredit.pkl"

In [3]:
with open(filaname, 'rb') as file:
    Modelo = pickle.load(file)

In [4]:
Modelo

GradientBoostingClassifier(random_state=123)

In [5]:
clientes=pd.read_csv("BaseNueva.csv")

In [6]:
clientes

,PAY_5_6,PAY_0_6,PAY_6_8,PAY_6_5,EducacionHomologada_Pregrado,PAY_0_5,PAY_5_5,EstadoCivilHomologado_Soltero,PAY_0_8,PAY_3_5,...,PAY_0_2,Edad,BILL_AMT1,PAY_AMT6,PAY_AMT5,PAY_AMT3,PAY_AMT4,PAY_AMT2,PAY_AMT1,MontoCredito
0,0,0,0,0,0,0,0,1,0,0,...,0,29.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,210000.0
1,0,0,0,0,0,0,0,1,0,0,...,0,29.0,52898.0,84363.0,0.0,0.0,0.0,0.0,3000.0,420000.0
2,0,0,0,0,1,0,0,1,0,0,...,0,35.0,67306.0,2000.0,1700.0,1600.0,1600.0,2310.0,3400.0,70000.0
3,0,0,0,0,1,0,0,1,0,0,...,0,26.0,0.0,0.0,0.0,0.0,0.0,1000.0,0.0,180000.0
4,0,0,0,0,0,0,0,0,0,0,...,0,32.0,388.0,4200.0,8000.0,388.0,110345.0,388.0,388.0,410000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8995,0,0,0,0,1,0,0,0,0,0,...,0,52.0,81382.0,2544.0,2502.0,2387.0,2472.0,4000.0,4611.0,100000.0
8996,0,0,0,0,0,0,0,1,0,0,...,0,56.0,26242.0,0.0,0.0,0.0,0.0,6152.0,3006.0,50000.0
8997,0,0,0,0,0,0,0,1,0,0,...,0,50.0,25648.0,0.0,22525.0,0.0,0.0,3836.0,1000.0,30000.0
8998,0,0,0,0,0,0,0,1,0,0,...,1,40.0,45740.0,2200.0,2060.0,4000.0,4000.0,1750.0,0.0,70000.0
8999,0,0,0,0,1,0,0,0,0,0,...,0,34.0,6827.0,508.0,0.0,1000.0,0.0,2000.0,1200.0,20000.0

In [7]:
Predicciones=Modelo.predict(clientes)
Probabilidades=Modelo.predict_proba(clientes)

In [8]:
clientes["score"]=Probabilidades[::,1]
clientes["Prediccion"]=Predicciones

In [9]:
clientes.head()

,PAY_5_6,PAY_0_6,PAY_6_8,PAY_6_5,EducacionHomologada_Pregrado,PAY_0_5,PAY_5_5,EstadoCivilHomologado_Soltero,PAY_0_8,PAY_3_5,...,BILL_AMT1,PAY_AMT6,PAY_AMT5,PAY_AMT3,PAY_AMT4,PAY_AMT2,PAY_AMT1,MontoCredito,score,Prediccion
0,0,0,0,0,0,0,0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,210000.0,0.261141,0
1,0,0,0,0,0,0,0,1,0,0,...,52898.0,84363.0,0.0,0.0,0.0,0.0,3000.0,420000.0,0.092687,0
2,0,0,0,0,1,0,0,1,0,0,...,67306.0,2000.0,1700.0,1600.0,1600.0,2310.0,3400.0,70000.0,0.118667,0
3,0,0,0,0,1,0,0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,1000.0,0.0,180000.0,0.289205,0
4,0,0,0,0,0,0,0,0,0,0,...,388.0,4200.0,8000.0,388.0,110345.0,388.0,388.0,410000.0,0.159322,0

In [10]:
data_sorted = clientes.sort_values(by='score', ascending=True)
data_sorted

,PAY_5_6,PAY_0_6,PAY_6_8,PAY_6_5,EducacionHomologada_Pregrado,PAY_0_5,PAY_5_5,EstadoCivilHomologado_Soltero,PAY_0_8,PAY_3_5,...,BILL_AMT1,PAY_AMT6,PAY_AMT5,PAY_AMT3,PAY_AMT4,PAY_AMT2,PAY_AMT1,MontoCredito,score,Prediccion
644,0,0,0,0,0,0,0,1,0,0,...,37575.0,62793.0,42985.0,78372.0,78949.0,52090.0,107243.0,500000.0,0.034146,0
7385,0,0,0,0,1,0,0,1,0,0,...,77461.0,14000.0,64460.0,9536.0,58302.0,58436.0,68781.0,500000.0,0.034454,0
3033,0,0,0,0,0,0,0,1,0,0,...,37547.0,11501.0,14501.0,25448.0,10015.0,29748.0,20016.0,440000.0,0.034909,0
828,0,0,0,0,0,0,0,1,0,0,...,35745.0,14753.0,43.0,14487.0,19020.0,20971.0,13000.0,390000.0,0.035618,0
7046,0,0,0,0,0,0,0,1,0,0,...,12451.0,90231.0,34110.0,12808.0,8090.0,15791.0,24120.0,530000.0,0.035627,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4870,0,0,0,0,1,0,0,0,0,0,...,17740.0,0.0,0.0,0.0,1882.0,2273.0,0.0,20000.0,0.899714,1
2892,0,0,0,0,1,0,0,0,0,0,...,5358.0,0.0,1000.0,1000.0,0.0,0.0,1200.0,10000.0,0.900760,1
1243,0,0,0,0,1,0,0,0,0,0,...,6329.0,500.0,0.0,0.0,1000.0,0.0,2415.0,20000.0,0.905269,1
7205,0,0,0,0,1,0,0,0,0,0,...,2400.0,0.0,0.0,0.0,0.0,0.0,0.0,10000.0,0.917184,1
4443,0,0,0,0,1,0,0,1,0,0,...,507726.0,19000.0,16000.0,14000.0,16500.0,0.0,10000.0,500000.0,0.920211,1

In [11]:
# Calcular el número de usuarios por decil
num_users_per_decile = len(data_sorted) // 10
# Crear una nueva columna 'decil' para indicar el decil al que pertenece cada usuario
data_sorted['decil'] = (data_sorted.reset_index().index // num_users_per_decile) + 1

In [12]:
data_sorted.head()

,PAY_5_6,PAY_0_6,PAY_6_8,PAY_6_5,EducacionHomologada_Pregrado,PAY_0_5,PAY_5_5,EstadoCivilHomologado_Soltero,PAY_0_8,PAY_3_5,...,PAY_AMT6,PAY_AMT5,PAY_AMT3,PAY_AMT4,PAY_AMT2,PAY_AMT1,MontoCredito,score,Prediccion,decil
644,0,0,0,0,0,0,0,1,0,0,...,62793.0,42985.0,78372.0,78949.0,52090.0,107243.0,500000.0,0.034146,0,1
7385,0,0,0,0,1,0,0,1,0,0,...,14000.0,64460.0,9536.0,58302.0,58436.0,68781.0,500000.0,0.034454,0,1
3033,0,0,0,0,0,0,0,1,0,0,...,11501.0,14501.0,25448.0,10015.0,29748.0,20016.0,440000.0,0.034909,0,1
828,0,0,0,0,0,0,0,1,0,0,...,14753.0,43.0,14487.0,19020.0,20971.0,13000.0,390000.0,0.035618,0,1
7046,0,0,0,0,0,0,0,1,0,0,...,90231.0,34110.0,12808.0,8090.0,15791.0,24120.0,530000.0,0.035627,0,1

**Exportar Predicciones**

In [13]:
Hoy=datetime.now().strftime("%Y-%m-%d")
Hoy

'2023-11-29'

In [14]:
Nombre="PrediccionesMora"+"_"+Hoy+".xlsx"
Nombre

'PrediccionesMora_2023-11-29.xlsx'

In [15]:
data_sorted.to_excel(Nombre)